img.instagram-hq-image {
  image-rendering: auto !important;
  object-fit: contain !important;
  object-position: center center !important;
}

video.instagram-hq-live-video {
  transform: rotate(90deg) !important;
  transform-origin: center center !important;
  object-fit: contain !important;
}
